{% extends 'blogApp/base.html' %}

{% block content %}
  <h1>Create a new blog</h1>
  <a href="{% url 'home' %}">Home</a>
  <a href="{% url 'Blogs' %}">Blogs</a>
  <form method="post">
    {% csrf_token %}
    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title" placeholder="Chủ đề yêu cầu"><br>
    <label for="description">Description:</label><br>
    <textarea id="description" name="description" placeholder="Nội dung bạn cần giải quyết"></textarea><br>
    <input type="submit" value="Create">
  </form>
{% endblock %}
